.header{
    height: 10vh;
    width: auto;
    border: 1px solid black ;
    box-shadow: 1px 1px 1px 2px black;
}
.TikImg{
    height:40px;
    margin-left:2%
}
.ImgAndButtonDiv{
    display:flex;
     margin-top:1%;
}

.LoginBtn{
    height:40px;
    width:80px;
    margin-left:1400%;
    background-color:white;
    color:orangered;
    border-radius:10px;
    border:2px solid orangered
}

@media (max-width:786px){
    .header{
        margin-left: 2%;
        height: 50px;
        width: 420px;
        border: 1px solid black ;
        box-shadow: 1px 1px 1px 2px black;
    }

    .TikImg{
        height:30px;
        margin-left:2%
    }
    .ImgAndButtonDiv{
        display:flex;
         margin-top:1%;
    }
    
    .LoginBtn{
        margin-top: 2%;
        height:30px;
        width:80px;
        margin-left:285%;
        background-color:white;
        color:orangered;
        border-radius:10px;
        border:2px solid orangered
    }
}